@model TeamCreateVM

<div class="body-wrapper-inner">
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Profession</label>
                    <select asp-for="ProfessionId" asp-items="@ViewBag.Professions" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></select>
                    <span asp-validation-for="ProfessionId"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Image</label>
                    <input asp-for="Image" type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <span asp-validation-for="Image"></span>
                </div>
                <button asp-action="Create" type="submit" class="btn btn-primary">Create</button>
                <a class="btn btn-warning" asp-controller="Profession" asp-action="Index">Back</a>
            </form>

        </div>
    </div>
</div>

