@model ProfessionDetailVM
<div class="body-wrapper-inner">
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">Products Performance</h4>
                                <p class="card-subtitle">
                                    Ample Admin Vs Pixel Admin
                                </p>
                            </div>
                            <div class="ms-auto mt-3 mt-md-0">
                                <select class="form-select theme-select border-0" aria-label="Default select example">
                                    <option value="1">March 2025</option>
                                    <option value="2">March 2025</option>
                                    <option value="3">March 2025</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table mb-0 text-nowrap varient-table align-middle fs-3">
                                <thead>
                                    <tr>
                                        <th scope="col" class="px-0 text-muted">
                                            Id
                                        </th>
                                        <th scope="col" class="px-0 text-muted">Name</th>
                                        <th scope="col" class="px-0 text-muted">
                                            CreateDate
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>

                                            <td class="px-0">@Model.Id</td>
                                            <td class="px-0">@Model.Name</td>
                                            <td class="px-0 ">
                                                @Model.CreateDate
                                            </td>


                                        </tr>
                                    
                                </tbody>
                                
                            </table>
                            
                        </div>
                        <a asp-action="Index" class="btn btn-warning">Back</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>